<h2>ここは管理者トップページです</h2>
<header>
  <%= link_to 'LOGO', admin_root_path %>

  <%= link_to '商品一覧', class: "btn btn-success btn-sm btn-block sign_up" %>

  <%= link_to '会員一覧', class: "btn btn-success btn-sm btn-block sign_up" %>

  <%= link_to '注文履歴一覧', class: "btn btn-success btn-sm btn-block sign_up" %>

  <%= link_to 'ジャンル一覧', class: "btn btn-success btn-sm btn-block sign_up" %>

  <%= button_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
</header>