<h1>カート内商品一覧</h1>

<h4>ショッピングカート</h4>

<table class="table table-hover table-inverse">
  <tr>
  <th></th>
  <th>商品名</th>
  <th>単価(税込)</th>
  <th>数量</th>
  <th>小計</th>
  <th></th>
  <th colspan="3"></th>
  </tr>

  <% @cart_items.each do |cart_item| %>
  <tr>
    <td>
      <% if cart_item.item.image.attached? %>
        <%= image_tag cart_item.item.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
    </td>
    <td><%= cart_item.item.name %></td>
    <td><%= cart_item.item.tax_included_price %></td>
    <td><%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
    <%= f.collection_select :amount, 1..10, :to_i, :to_i %>
    <%= f.submit "変更" %>
    </td>
    <td><%= cart_item.item.tax_included_price * cart_item.amount %></td>
    <td>
       <% @sum += cart_item.item.tax_included_price * cart_item.amount %>
    </td>
    <td><%= link_to '削除する', cart_item_path(cart_item.id), method: :delete %></td>
  </tr>
  <% end %>
  <% end %>

  <td>合計金額:<%= @sum %>円</td>
  <td><%= link_to "買い物を続ける", root_path %></td>
  <td><%= link_to "カートを空にする", destroy_all_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %></td>
  <td><%= link_to "情報入力に進む", new_order_path %></td>

</table>