<h2>商品一覧</h2>

<div class="col-md-3">
    <h3>ジャンル</h3>
    <ul class="list-group">
      <% Genre.all.each do |genre| %>
        <li class="list-group-item">
          <%= link_to genre.name, items_path(genre: genre.id) %>
        </li>
      <% end %>
    </ul>
  </div>


<table class="table table-hover table-inverse">
  <tr>
  <th></th>
  <th>商品名</th>
  <th>税込価格</th>
  <th colspan="3"></th>
  </tr>

  <% @items.each do |item| %>
  <%#= link_to '商品詳細', cart_items_path %>
  <% if item.is_sale == "販売中" %>
  <tr>
    <td>
    <% if item.image.attached? %>
    <%= image_tag item.image, size: "200x200" %>
    <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
    </td>
    <td><%= item.name %></td>
    <td><%= ((item.tax_excluded_price)*1.1).floor %></td>

    <!--<%# if item.is_sale == false %>-->
    <!--<td>販売停止中</td>-->
    <!--<%# else %>-->
    <!--<td>販売中</td>-->
    <!--<%# end %>-->
    <td><%= link_to '詳細画面', item_path(item.id) %></td>
  </tr>
  <% end %>
  <% end %>

</table>
<%# end %>