<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
  crossorigin="anonymous"
>

    <script src="https://kit.fontawesome.com/62d9c70015.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header>
      <%= link_to 'NaganoCake', (admin_signed_in? ? admin_top_path : root_path ), class: "logo" %><i class="fa-solid fa-cake-candles"></i>
      <% if admin_signed_in? %>
        <%= link_to '商品一覧', admin_items_path %>
        <%= link_to admin_customers_path do %>会員一覧<% end %>
        <%= link_to '注文履歴一覧', admin_root_path %>
        <%= link_to 'ジャンル一覧', admin_genres_path %>
        <%= link_to destroy_admin_session_path, method: :delete do %>ログアウト<% end %>
        <%= search_form_for @q, url: admin_items_path do |f| %>
        <%= f.label :name_cont, '商品名' %>
        <%= f.search_field :name_cont %>
        <br>
        <%= f.submit '検索' %>
      <% end %>
      <% elsif customer_signed_in? %>
      <body id="wrapper" style="background-color: white; font-family: HiraMinPro-W6; color: #000000;">
        <%#= link_to root_path do %><%# end %>
        <%= link_to customers_mypage_path do %>マイページ<% end %>
        <%= link_to items_path do %>商品一覧<% end %>
        <%= link_to 'カート', cart_items_path %>
        <%= button_to destroy_customer_session_path, method: :delete, class: 'nav-link text-light' do %>ログアウト<% end %>
        
        <p>ようこそ、<%= current_customer.lastname_kanji + current_customer.lastname_kana %>さん!</p>
        
      <% else %>
        <%= link_to root_path do %>LOGO<% end %>
        <%= link_to '商品一覧', items_path %>
        <%= link_to new_customer_registration_path do %>新規登録<% end %>
        <%= link_to new_customer_session_path do %>ログイン<% end %>
      <% end %>

      <%#= form_with model: @search, url: admin_items_path, local: true, method: :get do |f| %>
  <%#= f.text_field :q, :word %>
  <%#= f.select :q, :range, options_for_select([['User']['Book']]) %>
  <%#= f.select :q, :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
  <%#= f.submit "検索", class: "btn btn-primary" %>
<%# end %>
    </header>

    <%= yield %>
<script 
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-Qo8tQJwoexv3zYp1Mz3a6K6J6tcQGuK5OgHZ7VZaMsINo5th6oUvm1ciS+HIatnF" 
  crossorigin="anonymous">
</script>
  </body>
  
  <footer>Copyright © Infratop Inc. All Rights Reserved.</footer>
</html>